
*{
    font-family: 'lato', sans-serif;
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-family: "Orbitron", sans-serif;
}

:root{
    --yellow: rgb(255, 232, 31);
    --black: rgb(23,23,23);
    --red: rgb(228, 32, 43);
}

body{
    background-color: var(--black);
    color: var(--yellow);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}

.bg-red{
    background-color: var(--red);
}

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}

.text-red{
    color: var(--red);
}

/* Navbar */
.navbar{
    height: 140px;
    transition: 0.5s;
}

.nav-link{
    color: var(--yellow);
    font-weight: 700;
}

.nav-link:hover{
    color: white !important;
    text-shadow: 4px 2px 5px var(--red), -4px -2px 5px var(--red);
}

.logo{
    width: 50px;
}

.logo2{
    width: 100px;
    transition: 0.5s;
}


/* Header */

.header{
    background-image: linear-gradient(rgba(0,0,0), transparent, rgba(0,0,0)) ,url('media/sfondogemini.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-custom{
    color: var(--yellow);
    background-color: var(--black);
    border: 2px solid var(--yellow);
    border-radius: 50px;
    margin: 0px 15px;
    padding: 20px 30px;
    transition: 0.5s;
}

.btn-custom:hover{
    color: var(--black);
    background-color: var(--yellow);
    transform: scale(1.1);
}

.positioned{
    position: relative;
    top: -150px;
}

.col-custom{
    padding: 10px;
    border: 2px solid var(--black);
    cursor: pointer;
    transition: 0.5s;
    color: var(--black);
}

.col-custom:hover{
    transform: scale(1.1);
    background-color: var(--black);
    color: var(--red);
    border: 2px solid var(--red);
}

@media screen and (max-width: 600px){
    .positioned{
        position: static;
    }
}


/* Numeri Incrementali */

.number{
    font-size: 50px;
    font-weight: 900;
}


/* Swiper */

.swiper{
    height: 600px;
}

.card-review{
    height: 250px;
    width: 500px;
    border: 2px solid var(--yellow);
    border-radius: 20px;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}